<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
<%
=begin
%>
  <div class="col-md-8">
    <% if @user.groups.any? %>
      <h3>Groups (<%= @user.groups.count %>)</h3>
        <ul class="groups">
          <% @groups.each do |group| %>
            <li>
              <%if group.image.attached?%>
                <%= link_to_if group.user_ids.include?(current_user.id), image_tag( group.image, height: 100), group %>
              <%else%>
                <%= link_to_if group.user_ids.include?(current_user.id), image_tag( "bookshelf.png", height: 100), group%>
              <%end%>
              <%= link_to_if group.user_ids.include?(current_user.id), group.name, group %>
            </li>
          <% end %>
        </ul>
    <% end %>
  </div>
<%
=end
%>

</div>