<table class="table table-hover"> 
  <thead class="thead-default"> 
    <tr> 
      <th><%= Book.human_attribute_name(:image) %> </th>
      <th><%= Book.human_attribute_name(:name) %> </th>
    </tr>
  </thead>

  <tbody>
    <% books.each do |book| %>
      <tr> 
        <%if book.image.attached?%>
          <td><%= link_to image_tag( book.image, height: 100), book %></td>
        <%else%>
          <td><%= link_to image_tag( "no_image.jpg", height: 100), book %></td>
        <%end%>
        <td><%= link_to book.name, book %> </td>
        <td> 
          <%= link_to '編集', edit_book_path(book), class: 'btn btn-primary mr-3' %> 
          <%= link_to '削除', book, method: :delete, data: { confirm: "タスク「#{book.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger' %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>