<% provide(:title, 'The details') %>
<h1>The details</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="nav jastify-content-end">
      <li><%= link_to "All books",   books_path %></li>
    </div>

    <table class="table table-hover"> 
      <tbody>
        <tr>
          <th><%= Book.human_attribute_name(:id) %></th>
          <td><%= @book.id%></td>
        </tr>

        <tr>
          <th><%= Book.human_attribute_name(:name) %></th>
          <td><%= @book.name%></td>
        </tr>

        <tr>
          <th><%= Book.human_attribute_name(:group_id) %></th>
          <td><%= @book.group_id%></td>
        </tr>

        <tr>
          <th><%= Book.human_attribute_name(:image) %></th>
          <%if @book.image.attached?%>
            <td><%= image_tag @book.image, height: 300 %></td>
          <%else%>
            <td><%= image_tag "no_image.jpg", height: 300 %></td>
          <%end%>
        </tr>

        <tr>
          <th><%= Book.human_attribute_name(:description) %></th>
          <td><%= simple_format(h(@book.description), {}, sanitize: false, wrapper_tag: "div")%></td>
        </tr>

        <tr>
          <th><%= Book.human_attribute_name(:created_at) %></th>
          <td><%= @book.created_at%></td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
